@font-face {
    font-family:"DynaPuff" "Inter";
    src: url(../assets/DynaPuff-SemiBold.ttf); src: url(../assets/Inter.ttf)
}
body{
    background-color:#ddfff3;
    font-size: medium;
  cursor: crosshair;
}

.Intro {
font-family:"Inter";
font-size: medium;
}

.Friends{
font-size: medium;
font-family:"Inter";
}