@font-face {
    font-family:"DynaPuff";
    src: url(../assets/DynaPuff-SemiBold.ttf);
}
body{
    background-color:rgb(221, 255, 243);
    font-family:"DynaPuff";
    font-size: medium;
  cursor: crosshair;
}