@font-face {
    font-family:"Inter" "DynaPuff";
    src: url(../assets/DynaPuff-SemiBold.ttf); src: url(../assets/Inter.ttf)
}

body{
    background-color:#ddfff3;
    font-size: medium;
  cursor: crosshair;
}

.Friends{
font-family:"Inter";
}

.ul{
font-family: "Inter";
}

.Intro{
font-family:"DynaPuff";
font-size: large;
}