@charset "utf-8";
@font-face {
    font-family: "DM Serif" , serif;
    src: url(../assets/DMSerifText-Regular.ttf);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../assets/Raleway-Medium.ttf);
}

html{
    font-size: 7px;
    line-height: 1.3;
}



body {
    background-color: #fe80d2;
    font-size: 0;
    color:rgb(23, 19, 4);
}

a{
    text-decoration: none !important;
    color:rgb(4, 9, 48);
}

.header{
    vertical-align: top;
    width: 100%;
    height:100%;
    gap:15px;
    display:flex;
    padding-top: 5%;
   
}

.movie{
    align:left;
    text-align: left;
    display:inline-block;
    width: 50%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    padding-left: 5%;
}

.studio{
    align:middle;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: medium;
}

.synopsis{
    align:right;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    text-wrap: auto;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    padding-right: 5%;
}

.content{
    font-family: "DM Serif" , serif;
    font-size: 12rem;
    vertical-align: bottom;
    width: 75%;
    height:100%;
    text-align: left;
    text-wrap: auto;
    padding-left: 5%;
    padding-top: 15%;
    display: inline-block;
    padding-top: 15%;    
}

.more-margin{
    /* margin-left:100px; */
    transform: rotate3d(1, 1, 0, 65deg);
}

#button{
  width:80px;
  height:40px;
  cursor: pointer;
  background-color: rgb(23, 19, 4);
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left:5%;
}

#button:hover{
background-color: #fe80d2;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border: solid;
}

#text{
  display: inline-block;
  cursor: pointer;
}

.text-show{
  transform: scale(0.25);
}

#text2{
  display: inline-block;
  cursor: pointer;
}

.text-show2{
  opacity: 0;
}

#text3{
  display: inline-block;
  cursor: pointer;
}

.text-show3{
  opacity: 0;
}

#text4{
  display: inline-block;
  cursor: pointer;
}

.text-show4{
  transform: skew(3.05turn, -1deg);
}

#text5{
  display: inline-block;
  cursor: pointer;
}

.text-show5{
  opacity:15%;
  text-shadow: 0 0 10px #b2b2b2,
               0 0 80px #616161,
               0 0 30px #b2b2b2;
}


/* @media screen and (max-width:960px) and (min-width:720px){
  .header{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
} */