@charset "utf-8";

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../assets/Raleway-Medium.ttf);
}

@font-face {
    font-family: "Grinchmas", sans-serif;
    src: url(../assets/Grinchmas.ttf);
}

html{
    font-size:7px;
    line-height:1.3;
}

body {
    background-color: #98d860;
    font-size:0;
}

a{
  text-decoration: none !important;
}

.header{
    vertical-align: top;
    width: 100%;
    height:100%;
    gap:15px;
    display:flex;
    padding-top: 5%;
}

.movie{
    align:left;
    text-align: left;
    display:inline-block;
    width: 50%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding-left: 5%;
    color:#1e4001;
}

.studio{
    align:middle;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color:#1e4001;
}

.synopsis{
    align:right;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    text-wrap: auto;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding-right: 5%;
    color:#1e4001;
}

.content{
    font-family: "Grinchmas" , sans-serif;
    color:#1c0034;
    font-size: 100px;
    vertical-align: bottom;
    align:left;
    width: 75%;
    height:100%;
    text-align: left;
    text-wrap: auto;
    padding-left: 5%;
    padding-top: 15%;
    display: inline-block;
    animation: fade 3s forwards;
}

.filler{
    font-size:100px;
    color:#1e4001;
    font-family: "DM Serif", serif;
    display:block;
    opacity:100%;
}

.text{
    display: block;
    opacity: 0%;
    cursor:pointer;
}


.text2{
    display: block;
    opacity: 0%;
    cursor:pointer;
}



.text-show{
    font-size:450px;
    color:#f00000;
    font-family: "GrinchedRegular", sans-serif;
    display: block;
    opacity: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(.5);
    line-height: 5%;
  }
  25%{
    opacity: 25%;
    transform: scale(1.5);
    line-height: 5%;
  }
  50%{
    opacity: 50%;
    transform: scale(0);
    line-height: 5%;
  }
  75%{
    opacity: 75%;
    transform: scale(1.5);
  }

  100% {
    opacity: 100%;
    /* transform: rotate(-40deg); */
    line-height: 125%;
  }
}


@media screen and (max-width:960px) and (min-width:720px){
  .header{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .movie{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .synopsis{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .content{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}