@charset "utf-8";
@font-face {
    font-family: "DM Serif" , serif;
    src: url(../assets/DMSerifText-Regular.ttf);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../assets/Raleway-Medium.ttf);
}

@font-face {
    font-family: "edosz", sans-serif;
    src: url(../assets/edosz.ttf);
}


body {
    background-color: #98d860;
}


.header{
    vertical-align: top;
    width: 100%;
    height:100%;
    gap:15px;
    display:flex;
    padding-top: 5%;
}

.movie{
    align:left;
    text-align: left;
    display:inline-block;
    width: 50%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    padding-left: 5%;
    color:#1e4001;
}

.studio{
    align:middle;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    color:#1e4001;
}

.synopsis{
    align:right;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    text-wrap: auto;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    padding-right: 5%;
    color:#1e4001;
}

.content{
    font-size: 100px;
    vertical-align: bottom;
    width: 75%;
    height:100%;
    text-align: left;
    text-wrap: auto;
    padding-left: 5%;
    padding-top: 15%;
}

.animated-text{
  animation-name:"fade";
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

span{
    font-size:100px;
    color:#1e4001;
    font-family: "DM Serif", serif;
}

/* span:hover {
    font-size:300px;
    color:#f00000;
    font-family: "edosz", sans-serif;
    display: block;
    }

span.filler{
color: #1e4001;
font-size: 100px;
font-family: "DM Serif", serif;
display: block;

}
span.filler:hover{
  color:azure;
  display: block;
} */




@media screen and (max-width:960px) and (min-width:720px){
  .header{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .movie{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .synopsis{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .content{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}