@charset "utf-8";
@font-face {
    font-family: "DM Serif" , serif;
    src: url(../assets/DMSerifText-Regular.ttf);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../assets/Raleway-Medium.ttf);
}

html{
    font-size:7px;
    line-height:1.3;
}

body {
    background-color: #03186c;
    color:rgb(224, 241, 255);
    font-size:0;
}

a{
  text-decoration: none !important;
  color:#f7fffd;
}


#header{
    vertical-align: top;
    width: 100%;
    height:100%;
    gap:15px;
    display:flex;
    padding-top: 5%;
   
}

.movie{
    align:left;
    text-align: left;
    display:inline-block;
    width: 50%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding-left: 5%;
}

.studio{
    align:middle;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
}

.synopsis{
    align:right;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    text-wrap: auto;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding-right: 5%;
}

.content{
    font-family: "DM Serif" , serif;
    font-size: 12rem;
    vertical-align: bottom;
    width: 75%;
    height:100%;
    text-align: left;
    text-wrap: auto;
    padding-left: 5%;
    padding-top: 15%;
    display: inline-block;
    animation: slide-up 5s forwards;    
}

#text{
  display: block;
  cursor: pointer;
}

/* .text-show{
  background-color: black;
} */

#text2{
  display: block;
  cursor: pointer;
}

.text-show2{
  transform: skew(25turn, -15deg);
  opacity: 25%;
  font-size: 24rem;
}

#text3{
  display:block;
  cursor: pointer;
}

.text-show3{
  color:blanchedalmond;
  font-family:'Times New Roman', Times, serif;
  font-size: 40rem;
  transform: skew(15turn, 15deg);
}

#text4{
  display:block;
  cursor: pointer;
}

.text-show4{
  font-size: 24rem;
  text-shadow: 0 0 10px #fff4c7,
               0 0 20px #f7fffd,
               0 0 30px #fff4c7;
  animation: float 3s infinite;
}


@keyframes float{
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
    opacity: 100%;
  }
  25%{
    opacity:0%
  }
  50%{
    opacity:75%
  }
  75%{
    opacity:15%
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}


@media screen and (max-width:960px) and (min-width:720px){
  .header{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .movie{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .synopsis{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .content{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}