@charset "UTF-8";
@font-face {
    font-family: "dmserif" , serif;
    src: url(../assets/DMSerifText-Regular.ttf);
}

@font-face {
    font-family: "raleway", sans-serif;
    src: url(../assets/Raleway-Medium.ttf);
}

html{
  font-size: 7px;
  line-height: 1.3;
}

body {
    background-color: #cb8efd;
    font-size:0;
}

a{
  text-decoration:none !important;
  color:#1c0034;
}

#header{
    vertical-align: top;
    width: 100%;
    height:100%;
    gap:15px;
    display:flex;
    padding-top: 5%;
}

.movie{
  color:#1c0034;
    align:left;
    text-align: left;
    display:inline-block;
    width: 50%;
    height:100%;
    font-family: "raleway", sans-serif;
    font-size: medium;
    padding-left: 5%;
}

.studio{
  color:#1c0034;
    align:middle;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    font-family: "raleway", sans-serif;
    font-size: medium;
}

.synopsis{
  color:#1c0034;
    align:right;
    text-align: left;
    display:inline-block;
    width: 25%;
    height:100%;
    text-wrap: auto;
    font-family: "raleway", sans-serif;
    font-size: medium;
    padding-right: 5%;
}

.content{
    font-family: "dmserif" , serif;
    color:#1c0034;
    font-size: 100px;
    vertical-align: bottom;
    width: 75%;
    height:100%;
    text-align: left;
    text-wrap: auto;
    padding-left: 5%;
    padding-top: 15%;
    display: inline-block;
    animation: slide-in 4s forwards;
}

#text{
  color:#1c0034;
  display:inline-block;
  cursor: pointer;
}

.text-show{
  color:#f3c300;
  cursor: pointer;
  text-shadow: 0 0 10px #fff4c7,
               0 0 20px #fac907,
               0 0 30px #fff4c7;
  animation: float 3s infinite;
}

#text2{
  color:#1c0034;
  cursor: pointer;
  display: inline-block;
}

.text-show2{
  color:#1c0034;
  text-shadow: 0 0 50px #fff4c7,
               0 0 40px #edffbd,
               0 0 80px #fff4c7;
  cursor: pointer;
}

#text3{
  color:#1c0034;
  cursor: pointer;
  display: inline-block;
}

.text-show3{
  color:#1c0034;
  text-shadow: 0 0 20px #ffffff,
               0 0 20px #f8ffd3,
               0 0 20px #ffffff;
               cursor: pointer;
}

#text4{
  color:#1c0034;
  cursor: pointer;
  display:inline-block;
}

.text-show4{
  color:#1c0034;
  cursor: pointer;
  transform: scale(0.25);
  text-shadow: 0 0 20px #494949,
               0 0 100px #f8ffd3,
               0 0 20px #494949;
}

#text5{
  color:#1c0034;
  cursor: pointer;
  display: inline-block;
}

.text-show5{
  cursor: pointer;
  opacity: 0;
}

.reverse{
  color:#1c0034;
}

.reverse:hover{
  color:#efddff;
  direction: rtl;
  unicode-bidi: bidi-override;
  cursor:pointer;
  font-size: 120px;
}

.mine{
  color:#1c0034;
}

.mine:hover{
  font-family: "ralewaythin" , sans-serif;
  color:#fff4c7;
  text-transform:lowercase;
  font-size: 50px;
  cursor:pointer;
}

.mine:hover:before{
  content: "mine, mine, mine, mine, mine, mine, mine, mine, mine......";
  font-family: "ralewaythinitalic" , sans-serif;
}


@keyframes float{
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}


@media screen and (max-width:960px) and (min-width:720px){
  #header{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .movie{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .synopsis{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .content{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  html{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  body{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  #text{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  #text2{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  #text3{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  #text4{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  #text5{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .reverse{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}

@media screen and (max-width:960px) and (min-width:720px){
  .mine{
    background-color:rgba(255, 0, 0, 0);
    width:calc(50% - 2.6rem);
    background-color:rgba(0, 0, 0, 0);
    height:26rem;
  }
}